form input {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}
.avatarStyleModal{
    width:120px;
    border-radius: 50%;
    margin-top: 10px;
}

input ::placeholder {
    text-align: left;
}
